@use 'astro-breadcrumbs/breadcrumbs.scss' with (
    $overflow-behavior: 'wrap',
);

.c-breadcrumbs__crumbs,
.o-bread-crumb__crumbs {
    padding-left: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    .c-breadcrumbs__crumb:first-of-type {
        padding-left: 0 !important;
    }

    .o-bread-crumb__crumb {
        margin-top: 0;
        margin-bottom: 0;
    }
}