---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "404 : Non trouvé" includeSidebar={false}>
  <div class="text-center">
    <h1 class="text-9xl font-bold mb-4">🙊</h1>
    <h1 class="text-9xl font-bold mb-2">404</h1>
    <h3 class="text-2xl">La page que vous recherchez n'a pu être trouvée.</h3>
    <a class="btn btn-accent mt-9" href="/">l'Accueil</a>
  </div>
</BaseLayout>
