---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} AL Abdou Nadim
  </div>
  <div class="inline opacity-75">Codé avec 🥨 et 🍺 à Strasbourg</div>
</footer>

<script type="application/ld+json" is:inline>
  {
    "@context": "https://schema.org/",
    "@type": "Person",
    "name": "AL ABDOU Nadim",
    "url": "https://nalabdou.com",
    "image": "https://nalabdou.com/profile.webp",
    "sameAs": [
      "https://twitter.com/nalabdou",
      "https://linkedin.com/in/nalabdou",
      "https://github.com/nalabdou"
    ],
    "jobTitle": "Développeur Web Symfony",
    "worksFor": {
      "@type": "Organization",
      "name": "Actimage"
    }  
  }
</script>
